.header{
    width:100%;
    display:flex;
    padding: 10px 20px;
    box-shadow: 1px 5px 15px rgba(138, 136, 136, 0.582);
}
ul.navbar{
    list-style: none;
    display: flex;
}
ul.navbar li{
    margin-right: 15px;
}